<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>Welcome to IIFE tutorial</h1>
		<p>This is iffe style of writing webserver</p>
		<div>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis tenetur
				hic quam labore dolor, alias sed nulla reiciendis esse, nam architecto
				minima ipsam soluta, quod possimus quas suscipit. Accusamus, cupiditate
				iste dolores doloribus dicta natus obcaecati facere praesentium eligendi
				blanditiis quod, officia rerum eos deleniti magni nam, ipsa quae
				recusandae possimus tenetur voluptates aliquam excepturi quas. Quod sint
				sapiente quasi, vitae sit harum accusantium quae ducimus in aperiam
				nostrum neque dolore itaque reiciendis adipisci inventore debitis quo,
				sed, nemo assumenda soluta modi odio. Eos, itaque dignissimos iusto
				cupiditate quibusdam assumenda.
			</p>
		</div>
	</body>
</html>
